html,body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 3000px;
    right: 0;
    bottom: 0;
}

#header {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: hsl(215, 45%, 20%);
    text-align: left;
    align-items: center;
    font-size: xx-large;
    width: 100%;
    height: 75px;
    min-height: 75px;
    color:lavenderblush;
    box-shadow: 0px 5px 10px 0px slategrey;
}

#main header {
    text-align: left;
    align-content: center;
    font-size: 50px;
    font-weight: 600;
    width: 100%;
    height: 10%;
    min-height: 150px;
    padding-left: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.centerscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.line {
    width: 73%;
    height: 3px;
    margin: 0;
    margin-bottom: 30px;
}

.chbutton {
    height: 30px;
    width: 200px;
    background-color: hsl(215, 45%, 25%);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 0;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.chbutton:hover {
    background-color: hsl(215, 45%, 15%);
    transform: scale(1.05);
}

a {
    color: hsl(215, 50%, 50%);
}

li {
    margin-left: 50px;
}

#sw header {
    background: linear-gradient(to right, rgb(50, 75, 100) 25%, orange);
    color: #f8f9fa;
}

#sw main {
    height: 700px;
    background-image: url(../images/classierserver401/gov_building.png);
    background-size: cover;
}

#sw main .shad {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    height: 100%;
    width: 70%;
    color: hsl(204, 5%, 95%);
    padding-left: 100px;
    background: linear-gradient(to right, rgb(30,35,50), rgb(70,75,75, 0.5) 75%, transparent);
}

#sw main p {
    color: hsl(204, 5%, 80%);
    width: 70%;
    display: inline-block;
    margin-top: 0;
    padding-left: 2%;
    font-weight: bold;
}

#sw main .buttonsec {
    display: flex;
}

#sw main button {
    height: 50px;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    background: hsl(215, 30%, 55%);
    border: 3px solid hsl(215, 30%, 45%);
    transition: 0.4s ease;
}

#sw main button:hover {
    background: hsl(215, 30%, 45%);
    border: 3px solid hsl(215, 30%, 55%);
    cursor: pointer;
}

#sw main button:hover:active {
    background: hsl(215, 30%, 35%);
    border: 3px solid hsl(215, 30%, 45%);
}