html,body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 3000px;
    right: 0;
    bottom: 0;
}

#header {
    background-color: #f8f9fa;
    text-align: center;
    font-size: xx-large;
    width: 100%;
    height: 60%;
    min-height: 150px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(10,100,10,0.2), rgba(0,0,0,0.3)), url('../images/favicons/classier_hub.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: rgba(200, 200, 200, 1) 0em 0em 0.5em;
    color: rgba(255, 255, 255, 0.8);
}

#sitelist {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -40px 100px 30px rgba(0, 0, 0, 0.5);
}

#sitelist section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#sitelist a {
    text-decoration: none;
    color: inherit;
}

#desc {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: large;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.centerscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px;
    height: 400px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.3s ease;
    background-color: floralwhite;
}

.card-text {
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 50px;
    align-content: center;
    text-decoration: underline;
    background-color: rgb(230, 220, 210);
}

.card:hover {
    transform: scale(1.05);
    background-color: rgb(250, 235, 200);
}
.card:hover .card-text{
    background-color: wheat;
}

.card:active {
    transform: scale(1.03);
    filter: brightness(0.6);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.line {
    width: 80%;
    height: 3px;
    background: black;
    margin: 20px auto;
    margin-bottom: 30px;
}

.parallax{
    transform-origin: 50% 400px;
    transform: translateZ(-3800px) scale(2.3);
    z-index: -1;
    height: 100%;
}

.base{
    transform: translateZ(0px) translateY(-30px) scale(1);
    z-index: 1;
    position: relative;
    background-color: floralwhite;

}


#eoyc {
    height: 50px;
    z-index: 100000;
    position: sticky;
    top: 0;
    background: linear-gradient(to right, rgb(210,220,255), white, rgb(230,255,230));
}

#eoyc div {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 300px;
    justify-content:space-evenly;
}

#eoyc div a {
    height: 90%;
    width: 15%;
    background-color: blanchedalmond;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    align-content: center;
    text-align: center;
    transition: 0.1s ease-in-out;
}

#eoyc div a:hover {
    background-color: wheat;
}