@font-face {
    font-family: 'FS Sinclair Medium';
    src: url('../fonts/FS Sinclair Medium.otf') format('truetype');
}

html,body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(50,50,50);
    font-family: 'FS Sinclair Medium';
}

#header {
    background-color: #f8f9fa;
    text-align: left;
    font-size: xx-large;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255,255,0,1) 35%, rgba(0,0,0,1));
}

#header h1 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 50px;
    ;
}

#header img {
    width: 100px;
    height: 100px;
    vertical-align:middle;
    margin-left: 20px;
    border-radius: 10px;
}

#desc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: large;
}

#desc div {
    height: fit-content;
    text-align: left;
    color: lightgray;
    margin: 2%;
    padding: 1%;
    background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.1));
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

#desc div p {
    margin: 5px;
}

#download {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#download div {
    width: 40%;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

#download div button {
    width: 90%;
    border: 3px solid rgba(0,0,0,0.5);
    border-radius: 10px;    
    background-color: yellow;
    transition: 0.1s ease-in-out;
}

#download div button:hover, input[type="submit"]:hover {
    background-color: #ff0;
    filter: brightness(0.8);
}

#download div button:active, input[type="submit"]:active {
    transform: scale(0.95);
}

#download div input[type="text"], #download div textarea {
    background-color: rgba(0,0,0,0.2);;
    color: white;
    border-radius: 5px;
    resize: vertical;
    
    width: 90%;
    transition: 0.1s ease-in-out;
}

#download div input[type="text"] {
    width: 75%;
}

#download div input[type="text"]:focus, #download div textarea:focus {
    background-color: rgba(100,100,100,0.3);
    outline: yellow solid 2px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.htp {
    width: 30%;
}

.controls-list {
    list-style: none;
    padding: 0;
}

.control-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 10px;
}

.feedback {
    height: fit-content;
    text-align: left;
    color: lightgray;
    padding: 1%;
    background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.1));
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.feedback input[type="submit"] {
    width: 50%;
    height: 20px;
    font-size: small;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    background-color: yellow;
    transition: 0.1s ease-in-out;
}

main {
    position: relative;
    height: 100vh;
}

main::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../images/strategem_hero/super_earth.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}

button {
    cursor: pointer;
    font-family: 'FS Sinclair Medium';
    font-size: xx-large;
}

@media screen and (max-width: 1112px) {
    #header, #desc, #download {
        font-size: x-small;
    }
    #desc {
        height: 70%;
    }
    #header img {
        width: 50px;
        height: 50px;
    }
    .htp {
        width: 40%;
    }
    #download div button {
        font-size: large;
    }
}

@media screen and (max-width: 425px) {
    #header h1 {
        padding-left: 25px;
    }
    #download div button {
        width: 90%;
    }
}