html,body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 3000px;
    right: 0;
    bottom: 0;
}

form {
    padding-left: 50px;
    padding-top: 50px;
}

.instructions {
    padding-left: 70px;
    background: linear-gradient(to right, lightcyan, white);
}

.instructions p {
    font-size: 25px;
    font-weight: bold;
}

fieldset {
    align-content: center;
    min-height: 50px;
    width: 40%;
    border-radius: 10px;
    background-color: lightblue;
    border: 2px solid darkcyan;
}

.returnbtn {
    margin: 10px;
    margin-left: 50px;
}